'use strict'
let mongoose = require('mongoose')
module.exports = exports = function <%= _NAME.toLowerCase() %>(schema, options) {
  schema.add({<% for (const entry of _TYPES.entries()) {%>
    <%= entry[0] %>: {<% for (const key of entry[1].entries()) { %>
      <%= key[0] %>: <%- key[1] %>,<% } %>
    },<% } %>
  })
}
